//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$font-family-sans-serif: "Estedad", sans-serif;

:root {
  --bs-primary: #000000;
  --bs-primary-rgb: 0, 0, 0;
  --bs-link-color: #133D70;
  --bs-card-bg: #dadbe5;
  // --bs-list-group-active-bg: #161d31 !important;
  // --bs-list-group-active-border-color: #161d31 !important;
  --bs-modal-bg: #133D70 !important;

  // --bs-link-color: #3d417b;
  // --bs-link-hover-color: #3d417b;
  --bs-primary-rgb: 19, 61, 112 !important;
  --bs-secondary-rgb: 255, 199, 39 !important;
}
